@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efefef;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
video::-webkit-media-controls {
  display: none !important; /* 미디어 컨트롤 숨김 */
}

video::-webkit-media-controls-overlay-play-button {
  display: none !important; /* 재생 버튼 숨김 */
}

video {
  background-color: white; /* 비디오 로드 전 배경색 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rozha-one-regular {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.pretendard-regular {
  font-family: "Pretendard-Regular", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}

.font-primary {
  color: rgba(215, 170, 129, 1);
}

.font-secondary {
  color: rgba(246, 209, 180, 1);
}

.calendar div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar div:nth-child(7n + 1) {
  color: rgba(165, 28, 28, 1);
}